<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.cdo.dawn.web.renderer">
      <DawnWebRenderer
            renderer="org.eclipse.emf.cdo.dawn.web.js.draw2d.renderer.DawnJavaScriptDraw2DRenderer"
            type="draw2d">
      </DawnWebRenderer>
   </extension>
  <extension point="org.eclipse.equinox.http.registry.resources">
    <resource
      alias="/renderer/draw2d"
      base-name="/web_content"/>
  </extension>
</plugin>
