<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.emf.cdo.threedee.ui.ThreeDeePerspective"
            icon="icons/world.gif"
            id="org.eclipse.emf.cdo.threedee.ui.ThreeDeePerspective"
            name="ThreeDee">
      </perspective>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.emf.cdo.threedee"
            class="org.eclipse.emf.cdo.threedee.ui.ThreeDeeView"
            icon="icons/world.gif"
            id="org.eclipse.emf.cdo.threedee.ui.ThreeDeeWorld"
            name="World">
      </view>
      <view
            category="org.eclipse.emf.cdo.threedee"
            class="org.eclipse.emf.cdo.threedee.ui.ParametersView"
            icon="icons/parameters.gif"
            id="org.eclipse.emf.cdo.threedee.ui.ParametersView"
            name="Parameters">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipse.emf.cdo.threedee.ui.actionSet"
            label="Intro"
            visible="true">
         <menu
               id="sampleMenu"
               label="Sample &amp;Menu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               class="org.eclipse.emf.cdo.threedee.ui.actions.IntroAction"
               icon="icons/world.gif"
               id="org.eclipse.emf.cdo.threedee.ui.actions.IntroAction"
               label="Intro"
               menubarPath="sampleMenu/sampleGroup"
               state="true"
               style="push"
               toolbarPath="sampleGroup"
               tooltip="Intro">
         </action>
      </actionSet>
   </extension>

</plugin>
