<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.emf.cdo.threedee.ui.ThreeDeePerspective"
            icon="icons/world.gif"
            id="org.eclipse.emf.cdo.threedee.ui.ThreeDeePerspective"
            name="ThreeDee">
      </perspective>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.emf.cdo.threedee"
            class="org.eclipse.emf.cdo.threedee.ui.ThreeDeeView"
            icon="icons/world.gif"
            id="org.eclipse.emf.cdo.threedee.ui.ThreeDeeWorld"
            name="ThreeDee World">
      </view>
      <view
            category="org.eclipse.emf.cdo.threedee"
            class="org.eclipse.emf.cdo.threedee.ui.InfoTransformView"
            icon="icons/text.gif"
            id="org.eclipse.emf.cdo.threedee.ui.InfoTransformView"
            name="ThreeDee Info Transform">
      </view>
   </extension>

</plugin>
