<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<!--
	<copyright>
	
	Copyright (c) 2004 - 2008 Eike Stepper, Germany.
	All rights reserved. This program and the accompanying materials
	are made available under the terms of the Eclipse Public License v1.0
	which accompanies this distribution, and is available at
	http://www.eclipse.org/legal/epl-v10.html
	
	Contributors:
	  Eike Stepper - Initial API and implementation
	
	</copyright>
-->

<plugin>

   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.net4j.pop.internal.ui.TaskPropertyTester"
            id="org.eclipse.net4j.pop.ui.TaskPropertyTester"
            namespace="org.eclipse.net4j.pop.ui"
            properties="hasDevelopmentStream,hasMaintenanceStream,hasTaskStream,hasAnyStream"
            type="org.eclipse.mylyn.tasks.core.ITask">
      </propertyTester>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.eclipse.net4j.pop.ui.NonPopContributions"
            objectClass="org.eclipse.mylyn.tasks.core.ITask">
         <action
               class="org.eclipse.net4j.pop.internal.ui.actions.AddStreamAction.Task"
               enablesFor="1"
               id="org.eclipse.net4j.pop.ui.AddTaskStreamAction"
               label="Add POP Task Stream"
               state="true"
               style="push">
         </action>
         <action
               class="org.eclipse.net4j.pop.internal.ui.actions.AddStreamAction.Maintenance"
               enablesFor="1"
               id="org.eclipse.net4j.pop.ui.AddMaintenanceStreamAction"
               label="Add POP Maintenance Stream"
               state="true"
               style="push">
         </action>
         <action
               class="org.eclipse.net4j.pop.internal.ui.actions.AddStreamAction.Development"
               enablesFor="1"
               id="org.eclipse.net4j.pop.ui.AddDevelopmentStreamAction"
               label="Add POP Development Stream"
               state="true"
               style="push">
         </action>
         <enablement>
     		<test property="org.eclipse.net4j.pop.ui.hasAnyStream" value="false" forcePluginActivation="true"/>
         </enablement>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.eclipse.net4j.pop.ui.PopContributions"
            objectClass="org.eclipse.mylyn.tasks.core.ITask">
         <menu
               label="POP"
               path="additions"
               id="org.eclipse.net4j.pop.ui">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="org.eclipse.net4j.pop.internal.ui.actions.TestAction"
               enablesFor="1"
               id="org.eclipse.net4j.pop.ui.AddCommitterAction"
               label="Add Committer"
               menubarPath="org.eclipse.net4j.pop.ui/group1"
               state="true"
               style="push">
         </action>
         <enablement>
         	<test property="org.eclipse.net4j.pop.ui.hasDevelopmentStream" forcePluginActivation="true"/>
         </enablement>
      </objectContribution>
   </extension>

</plugin>
