<?xml version="1.0" encoding="ISO-8859-1"?>
<figureMappings>

	<figureMapping type="79">
		<javaScriptClass name="org.eclipse.emf.cdo.dawn.examples.acore.diagram.ClassDiagramFigure" />
		<viewAttribute name="name" />
	</figureMapping>



	<figureMapping type="2001">
		<javaScriptClass name="org.eclipse.emf.cdo.dawn.examples.acore.diagram.AnAttributeLabelFigure" />
		<viewAttribute name="accessright" />
		<viewAttribute name="dataType" />
		<viewAttribute name="name" />

		<viewPattern name="{0} {2}:{1}" />
	</figureMapping>



	<figureMapping type="3002">
		<javaScriptClass name="org.eclipse.emf.cdo.dawn.examples.acore.diagram.AnOperationLabelFigure" />
		<viewAttribute name="accessright" />
		<viewAttribute name="dataType" />
		<viewAttribute name="name" />

		<viewPattern name="{0} {2}():{1}" />
	</figureMapping>



	<figureMapping type="3001">
		<javaScriptClass name="org.eclipse.emf.cdo.dawn.examples.acore.diagram.AnAttributeLabelFigure" />
		<viewAttribute name="accessright" />
		<viewAttribute name="dataType" />
		<viewAttribute name="name" />

		<viewPattern name="{0} {2}:{1}" />
	</figureMapping>



	<figureMapping type="3003">
		<javaScriptClass name="org.eclipse.emf.cdo.dawn.examples.acore.diagram.AnOperationLabelFigure" />
		<viewAttribute name="accessright" />
		<viewAttribute name="dataType" />
		<viewAttribute name="name" />

		<viewPattern name="{0} {2}():{1}" />
	</figureMapping>


	<figureMapping type="3004">
		<javaScriptClass name="org.eclipse.emf.cdo.dawn.examples.acore.diagram.AnOperationLabelFigure" />
		<viewAttribute name="accessright" />
		<viewAttribute name="dataType" />
		<viewAttribute name="name" />

		<viewPattern name="{0} {2}():{1}" />
	</figureMapping>

	<figureMapping type="2001">
		<javaScriptClass name="org.eclipse.emf.cdo.dawn.examples.acore.diagram.AInterfaceFigure" />
		<viewAttribute name="name" />
	</figureMapping>


	<figureMapping type="5001">
		<javaScriptClass name="org.eclipse.emf.cdo.dawn.examples.acore.diagram.AInterfaceNameFigure" />
		<viewAttribute name="name" />
		<viewPattern name="" />
	</figureMapping>

	<figureMapping type="2002">
		<javaScriptClass name="org.eclipse.emf.cdo.dawn.examples.acore.diagram.AClassFigure" />
		<viewAttribute name="name" />
	</figureMapping>


	<figureMapping type="5002">
		<javaScriptClass name="org.eclipse.emf.cdo.dawn.examples.acore.diagram.AClassNameFigure" />
		<viewAttribute name="name" />

		<viewPattern name="" />
	</figureMapping>

	<figureMapping type="4001">
		<javaScriptClass name="org.eclipse.emf.cdo.dawn.examples.acore.diagram.AClassSubClassesFigure" />
	</figureMapping>

	<figureMapping type="4002">
		<javaScriptClass
			name="org.eclipse.emf.cdo.dawn.examples.acore.diagram.AClassImplementedInterfacesFigure" />
	</figureMapping>



	<figureMapping type="4003">
		<javaScriptClass name="org.eclipse.emf.cdo.dawn.web.basic.DawnConnectionFigure" />
	</figureMapping>



	<figureMapping type="4004">
		<javaScriptClass
			name="org.eclipse.emf.cdo.dawn.examples.acore.diagram.AClassAggregationClassesFigure" />
	</figureMapping>



	<figureMapping type="4005">
		<javaScriptClass
			name="org.eclipse.emf.cdo.dawn.examples.acore.diagram.AClassCompositionClassesFigure" />

	</figureMapping>




	<!-- <figureMapping type="5001"> <javaScriptClass name="org.eclipse.emf.cdo.dawn.web.basic.DawnCompartmentFigure" 
		/> </figureMapping> -->



	<!-- <figureMapping type="5002"> <javaScriptClass name="org.eclipse.emf.cdo.dawn.web.basic.DawnCompartmentFigure" 
		/> </figureMapping> -->


	<figureMapping type="7001">
		<javaScriptClass name="org.eclipse.emf.cdo.dawn.web.basic.DawnCompartmentFigure" />
	</figureMapping>
	
	<figureMapping type="7002">
		<javaScriptClass name="org.eclipse.emf.cdo.dawn.web.basic.DawnCompartmentFigure" />
	</figureMapping>

	<figureMapping type="7003">
		<javaScriptClass name="org.eclipse.emf.cdo.dawn.web.basic.DawnCompartmentFigure" />
	</figureMapping>

	<figureMapping type="7004">
		<javaScriptClass name="org.eclipse.emf.cdo.dawn.web.basic.DawnCompartmentFigure" />
	</figureMapping>


</figureMappings>
