<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<!--
	<copyright>
	
	Copyright (c) 2004 - 2007 Eike Stepper, Germany.
	All rights reserved.   This program and the accompanying materials
	are made available under the terms of the Eclipse Public License v1.0
	which accompanies this distribution, and is available at
	http://www.eclipse.org/legal/epl-v10.html
	
	Contributors:
	  Eike Stepper - Initial API and implementation
	
	</copyright>
-->

<plugin>

   <extension
         point="org.eclipse.ecf.identity.namespace">
      <namespace
            class="org.eclipse.ecf.provider.net4j.identity.Net4jNamespace"
            description="Net4j Namespace"
            name="ecf.net4j">
      </namespace>
   </extension>
   
   <extension
         point="org.eclipse.net4j.util.factories">
      <factory
            class="org.eclipse.ecf.provider.internal.net4j.protocol.ECFServerProtocolFactory"
            productGroup="org.eclipse.net4j.serverProtocols"
            type="ecf"/>
      <factory
            class="org.eclipse.ecf.provider.internal.net4j.protocol.ECFClientProtocolFactory"
            productGroup="org.eclipse.net4j.clientProtocols"
            type="ecf"/>
      <factory
            class="org.eclipse.ecf.provider.internal.net4j.container.Net4jServerSOContainerFactory"
            productGroup="org.eclipse.ecf.serverSOContainers"
            type="ecf"/>
      <factory
            class="org.eclipse.ecf.provider.internal.net4j.container.Net4jClientSOContainerFactory"
            productGroup="org.eclipse.ecf.clientSOContainers"
            type="ecf"/>
   </extension>
   
   <extension
         point="org.eclipse.net4j.util.elementProcessors">
      <elementProcessor
            class="org.eclipse.ecf.provider.internal.net4j.container.Net4jServerContainerInjector"/>
      <elementProcessor
            class="org.eclipse.ecf.provider.internal.net4j.container.Net4jClientContainerInjector"/>
   </extension>

</plugin>
