<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="org.eclipse.emf.cdo.threedee.shell.CDOConsoleFactory"
            label="CDO Console">
      </consoleFactory>
   </extension>

</plugin>
