<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<!--
	<copyright>
	
	Copyright (c) 2004 - 2008 Eike Stepper, Germany.
	All rights reserved. This program and the accompanying materials
	are made available under the terms of the Eclipse Public License v1.0
	which accompanies this distribution, and is available at
	http://www.eclipse.org/legal/epl-v10.html
	
	Contributors:
	  Eike Stepper - Initial API and implementation
	
	</copyright>
-->

<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.eclipse.equinox.agent.client.ui.DisconnectBundleContribution"
            objectClass="org.eclipse.core.resources.IProject">
         <menu
               id="org.eclipse.net4j.template.ui.menu1"
               label="Natures"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="org.eclipse.net4j.template.internal.ui.actions.RemoveTemplateNatureAction"
               enablesFor="1"
               id="org.eclipse.net4j.template.ui.actions.RemoveTemplateNatureAction"
               label="Remove Template Nature"
               menubarPath="org.eclipse.net4j.template.ui.menu1/group1"
               style="push">
         </action>
         <visibility>
           <objectState
                 name="projectNature"
                 value="org.eclipse.net4j.template.TemplateNature">
           </objectState>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.eclipse.equinox.agent.client.ui.ConnectBundleContribution"
            objectClass="org.eclipse.core.resources.IProject">
         <menu
               id="org.eclipse.net4j.template.ui.menu1"
               label="Natures"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="org.eclipse.net4j.template.internal.ui.actions.AddTemplateNatureAction"
               enablesFor="1"
               icon="icons/add_template_nature.gif"
               id="org.eclipse.net4j.template.ui.actions.AddTemplateNatureAction"
               label="Add Template Nature"
               menubarPath="org.eclipse.net4j.template.ui.menu1/group1"
               style="push">
         </action>
         <visibility>
            <not>
               <objectState
                     name="projectNature"
                     value="org.eclipse.net4j.template.TemplateNature">
               </objectState>
            </not>
         </visibility>
      </objectContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            icon="icons/template_ovr.gif"
            id="org.eclipse.net4j.template.ui.decorator1"
            label="Template Projects"
            lightweight="true"
            location="TOP_RIGHT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IProject">
               </objectClass>
               <objectState
                     name="projectNature"
                     value="org.eclipse.net4j.template.TemplateNature">
               </objectState>
            </and>
         </enablement>
      </decorator>
      <decorator
            adaptable="true"
            icon="icons/template_ovr.gif"
            id="org.eclipse.net4j.template.ui.decorator2"
            label="Template Projects"
            lightweight="true"
            location="TOP_RIGHT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IFolder">
               </objectClass>
               <objectState
                     name="projectNature"
                     value="org.eclipse.net4j.template.TemplateNature">
               </objectState>
               <objectState
                     name="name"
                     value="templates">
               </objectState>
            </and>
         </enablement>
      </decorator>
   </extension>
   
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.net4j.template.ui"
            name="Template Projects">
      </category>
      <wizard
            category="org.eclipse.net4j.template.ui"
            class="org.eclipse.net4j.template.internal.ui.wizards.NewProjectFromTemplateWizard"
            icon="icons/sample.gif"
            id="org.eclipse.net4j.template.ui.wizards.TemplateNewWizard"
            name="New Project From Template">
      </wizard>
   </extension>

</plugin>
